.elementor-section-talent-program{
    margin: 0;
    color: white;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh;/*  Asegura que el contenedor tenga una altura suficiente para mostrar el centrado vertical */
    margin: 0 100px 0 100px;
    gap: 10px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 80px 50px;
    /* background: linear-gradient(to right, #56D2D2, #3695D4, #246BB2); */
    background: linear-gradient(to right, #EE764A, #c36);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
}

.left-elementor, .right-elementor {
    width: 50vh;
}

.elementor-icon-list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.elementor-heading-title{
    color: #FFFFFF;
    font-size: 44px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 42px;
    word-spacing: 100vw;
    white-space: pre-wrap;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.elementor-icon-list-items{
    list-style: none;
}

.elementor-icon-list-text{
    font-size: 20px;
}

button.learn-more {
    margin-top: 20px;
    padding: 13px 42px 13px 42px;
    border-width: 2px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    border-color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    font-weight: bold;
}

button.learn-more:hover {
    /* background: linear-gradient(to right, #56D2D2, #3695D4, #246BB2); */
    background: linear-gradient(to right, #EE764A, #c36);
}

.elementor-icon-list-icon {
    flex-shrink: 0;
}

.elementor-icon-list-icon img {
    width: 50px;
    height: 50px;
}

.elementor-icon-list-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}