<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<section class="elementor-section-talent-program">
    <div class="title-container">
        <div class="elementor-title">
            <h2 class="elementor-heading-title">Digital Harbor impulsa talentos</h2>
        </div>
        <div>
            <button class="learn-more">Ver programa ></button>
        </div>
    </div>

    <!-- <div class="middle-container">middle</div> -->

    <div class="text-container">
        <div class="left-elementor">
            <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon1.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Buscamos líderes e innovadores</span>
                </li>
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon2.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Formamos líderes en el sector</span>
                </li>
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon3.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Desarrollamos tus habilidades técnicas</span>
                </li>
            </ul>
        </div>
        <div class="right-elementor">
            <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon4.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Trabajamos con equipos colaborativos</span>
                </li>
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon5.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Otorgamos nuevas oportunidades</span>
                </li>
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                        <img src="../../../../assets/images/icon6.png" alt="icono">
                    </span>
                    <span class="elementor-icon-list-text">Potenciamos tu carrera</span>
                </li>
            </ul>
        </div>
    </div>
</section>