<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <img id="image-logo" src="{{logo}}" alt="Logo" title="Digital Harbor">
    </a>
  </div>

  <button mat-icon-button class="burger-icon" aria-label="Example icon-button with menu icon" (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-menu" [ngClass]="{'active': isNavActive}">
    <ul>
      <li><a routerLink="/home" routerLinkActive="router-link-active"><span class="title_nav">INICIO</span></a></li>
      <li class="dropdown" [ngClass]="{'active': activeDropdown === 'conoceDh'}">
        <a routerLink="/about/sobre-nosotros" routerLinkActive="router-link-active"><span class="title_nav">CONOCE DH</span></a>
        <span class="dropdown-icon" (click)="toggleDropdown('conoceDh')">▼</span>
        <ul class="dropdown-content">
          <li><a routerLink="/about/outsourcing-no-es-lo-nuestro" routerLinkActive="router-link-active"><span class="title_nav">Outsourcing, no es lo nuestro</span></a></li>
          <li><a routerLink="/about/confia-en-tu-instinto-loco" routerLinkActive="router-link-active"><span class="title_nav">Confía en tu instinto loco</span></a></li>
          <li><a routerLink="/about/cultura-wow" routerLinkActive="router-link-active"><span class="title_nav">Cultura WOW</span></a></li>
        </ul>
      </li>
      <li class="dropdown" [ngClass]="{'active': activeDropdown === 'convierteDh'}">
        <a routerLinkActive="router-link-active"><span class="title_nav">CONVIÉRTETE EN UN DHR</span></a>
        <span class="dropdown-icon" (click)="toggleDropdown('convierteDh')">▼</span>
        <ul class="dropdown-content">
          <li><a routerLink="/option4" routerLinkActive="router-link-active"><span class="title_nav">Programa talento DH</span></a></li>
          <li><a routerLink="/option5" routerLinkActive="router-link-active"><span class="title_nav">Postulación directa</span></a></li>
        </ul>
      </li>
      <li><a routerLink="/blog" routerLinkActive="router-link-active"><span class="title_nav">BLOG</span></a></li>
      <li><a routerLink="/jobs" routerLinkActive="router-link-active"><span class="title_nav">HAZ CONTACTO CON DH</span></a></li>
    </ul>
  </nav>
</header>

