<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <img id="image-logo" src="{{logo}}" alt="Logo" title="Digital Harbor">
    </a>
  </div>

  <button mat-icon-button class="burger-icon" aria-label="Example icon-button with menu icon" (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-menu" [ngClass]="{'active': isNavActive}">
    <ul>
      <li><a routerLink="/home" routerLinkActive="router-link-active"><span class="title_nav">INICIO</span></a></li>
      <li class="dropdown" [ngClass]="{'active': activeDropdown === 'conoceDh'}">
        <a routerLink="/about" routerLinkActive="router-link-active" (click)="toggleDropdown('conoceDh')"><span class="title_nav">CONOCE DH</span></a>
        <ul class="dropdown-content">
          <li><a routerLink="/option1" routerLinkActive="router-link-active"><span class="title_nav">Outsourcing, no es lo nuestro</span></a></li>
          <li><a routerLink="/option2" routerLinkActive="router-link-active"><span class="title_nav">Confía en tu instinto loco</span></a></li>
          <li><a routerLink="/option3" routerLinkActive="router-link-active"><span class="title_nav">Cultura WOW</span></a></li>
        </ul>
      </li>
      <li class="dropdown" [ngClass]="{'active': activeDropdown === 'convierteDh'}">
        <a routerLinkActive="router-link-active" (click)="toggleDropdown('convierteDh')" routerLinkActive="router-link-active"><span class="title_nav">CONVIÉRTETE EN UN DHR</span></a>
        <ul class="dropdown-content">
          <li><a routerLink="/option4" routerLinkActive="router-link-active"><span class="title_nav">Programa talento DH</span></a></li>
          <li><a routerLink="/option5" routerLinkActive="router-link-active"><span class="title_nav">Postulación directa</span></a></li>
          <!-- <li><a routerLink="/option6" routerLinkActive="router-link-active"><span class="title_nav">Opción 3</span></a></li> -->
        </ul>
      </li>
      <li><a routerLink="/contact" routerLinkActive="router-link-active"><span class="title_nav">BLOG</span></a></li>
      <li><a routerLink="/jobs" routerLinkActive="router-link-active"><span class="title_nav">HAZ CONTACTO CON DH</span></a></li>
    </ul>
  </nav>
</header>

