.list-container{
    display: flex;
    gap: 20px;
    justify-content: center;

    flex-wrap: wrap;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.list-custom-container{
    display: flex;
    gap: 20px;
    justify-content: center;

    flex-wrap: wrap;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
}