.elementor-heading-title {
    color: #FFFFFF;                /* Color del texto */
    font-family: "Bebas Neue", Sans-serif; /* Fuente del texto */
    font-size: 44px;               /* Tamaño de la fuente */
    text-align: center;            /* Centra el texto horizontalmente */
    font-weight: bold;             /* Hace que el texto sea negrita */
    letter-spacing: 2px;           /* Espacio entre letras */
    padding-top: 50px;
}
.button{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.button .elementor-button{
    display: inline-block;
    width: 260px;
    height: 61px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin: auto;
    line-height: 60px;
    text-decoration: none;
}

.button .elementor-button:hover{
    background: linear-gradient(to right, #EE764A, #c36);
}
