<mat-card class="example-card">
  <div class="iframe-container">
    <iframe
      [src]="safeIframeUrl"
      frameborder="0"
      allowfullscreen
      title="Publicación integrada"
      class="linkedin-iframe">
    </iframe>
  </div>

  <!-- Línea divisoria -->
  <hr class="divider-line">

  <mat-card-header>
    <mat-card-title class="card-title">{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <a [href]="linkedInUrl" target="_blank">
      <button mat-raised-button color="accent">Read More</button>
    </a>
  </mat-card-actions>
</mat-card>
