<div class="main-container">
    <header>
        <app-header></app-header>
    </header>

    <main>
        <app-card-list-news></app-card-list-news>
        <app-custom-card-list-news></app-custom-card-list-news>
        <!-- <video controls width="640" height="360">
            <source src="https://res.cloudinary.com/dpshovwch/video/upload/background-home_t2xw0l.mp4" type="video/mp4">
        </video> -->
        <button *ngIf="isButtonVisible" (click)="scrollToTop()" class="scroll-to-top">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>
