<div class="instinct-crazy-container">

    <div class="star-container">
        <div class="instinct-crazy-title">
            <h2 class="elementor-heading-title">Confía en tu instinto loco</h2>
        </div>

        <div class="instinct-crazy-cotent">
            <p>El instinto loco es una forma de referirse a la intuición y la creatividad que surge de una manera no convencional y a veces impredecible. A menudo, la creatividad y la innovación surgen de la combinación de ideas inesperadas, que pueden ser un resultado de dejar fluir libremente la mente y no limitarse a pensamientos convencionales.</p>
            <p>La confianza en el instinto loco puede ser importante en el proceso creativo porque permite a los individuos experimentar y probar ideas diferentes sin miedo al fracaso o a la crítica. Esto puede resultar en una mayor libertad y flexibilidad mental, lo que permite una mayor capacidad para encontrar soluciones creativas y nuevas perspectivas en situaciones complejas.</p>
            <p>Además, la confianza en el instinto loco puede ayudar a las personas a pensar fuera de lo común y a desarrollar su propio estilo único.
                En DH es elemental y totalmente permitido confiar en tu instinto loco sin miedo.</p>
        </div>

        <div class="mission-boost">
            <div class="gravity-defy">
                <div class="left">
                    <div class="gravity-defy-title">
                        <h2>Innovar es Desafiar la Gravedad</h2>
                    </div>
        
                    <div class="gravity-defy-content">
                        <p>En el mundo del desarrollo de software, confiar en tu instinto loco marca la diferencia entre seguir lo convencional o crear algo que nadie más ha imaginado. Tal como los pioneros espaciales que rompieron con las leyes de la gravedad, en DH rompemos con lo convencional para ir más allá de los límites tecnológicos.</p>
                        <p>En DH, confiamos en tu instinto loco porque sabemos que la innovación no tiene límites. Ya sea al diseñar un sistema, desarrollar una aplicación o resolver un problema complejo, la creatividad y el pensamiento audaz son fundamentales para lanzar ideas hacia el futuro.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="gravity-defy-image">
                        <img src="../../../../../../assets/images/gravity-img.jpeg" alt="Innovar es Desafiar la Gravedad">
                    </div>
                </div>
            </div>
    
            <div class="exploration-zone">
                <div class="left">
                    <div class="exploration-zone-image">
                        <img src="../../../../../../assets/images/takeoff-with-us.jpeg" alt="Innovar es Desafiar la Gravedad">
                    </div>
                </div>

                <div class="right">
                    <div class="exploration-zone-title">
                        <h2>¡Despega con Nosotros!</h2>
                    </div>
        
                    <div class="exploration-zone-content">
                        <p>Explorar lo desconocido no es tarea fácil, pero juntos, en DH, nos lanzamos hacia lo inexplorado. No solo está permitido confiar en tu instinto loco, es esencial para nuestra misión. ¡Atrévete a desafiar la lógica, romper las barreras y despegar hacia nuevas galaxias con nosotros!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
