<div class="parallax">
  <div class="container">
    <div class="image">
      <img src="../../../../assets/images/prueba.png" alt="Imagen de ejemplo" />
    </div>
    <div class="content">
      <h1>"Transformando ideas en realidad, un byte a la vez"</h1>
      <p>
        Creemos en el poder de las
        ideas para transformar el mundo. Por eso, trabajamos con cada uno de
        nuestros clientes para transformar sus ideas en soluciones innovadoras y
        escalables, acompañanos transformemos juntos tus ideas en realidad, un byte a la
        vez.
      </p>
    </div>
  </div>
</div>
