.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slogan-container{
    position: relative;
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(140, 30, 105, 0.37) 0%, rgba(242, 41, 91, 0.37) 100%);
}


.slogan-container .slogan {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.slogan-container .slogan .elementor-heading-title {
    font-size: 45px;
    color: white;
    line-height: 58px;
    letter-spacing: 4.5px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}