<div class="slogan-container">
    <div class="video-background">
        <video autoplay muted loop>
            <source src="../../../../assets/images/background-home.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    </div>
    <div class="overlay-background"></div> <!-- Nueva capa para el fondo rosado -->
    <div class="slogan">
        <h1 class="elementor-heading-title">CONFÍA EN TU INSTINTO LOCO Y VIVE LA EXPERIENCIA WOW</h1>
    </div>
</div>
