<footer>
    <div class="footer-content">
      <h3>Get in Touch</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut interdum fringilla, purus nibh volutpat ex, a eleifend lorem sem vel nunc.</p>
      <ul class="social-media">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>© 2023 Company Name. All rights reserved.</p>
    </div>
  </footer>
  