  <footer>
    <div class="inner-footer">
      <div class="footer-items">
        <h1>Nombre Empresa</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit alias iste tempore eveniet quam ipsum distinctio inventore officiis doloribus. Corrupti reiciendis iste nesciunt ad excepturi amet facere voluptates. Fugiat, atque!</p>
      </div>

      <div class="footer-items">
        <h2>Lingid</h2>
        <div class="border"></div>
        <ul>
          <a href="#"><li>Kodu</li></a>
          <a href="#"><li>Teenused</li></a>
          <a href="#"><li>Portfolio</li></a>
          <a href="#"><li>Uudised</li></a>
          <a href="#"><li>Minust</li></a>
          <a href="#"><li>Kontakt</li></a>
        </ul>
      </div>

      <div class="footer-items">
        <h2>Pakutavad teenused</h2>
        <div class="border"></div>
        <ul>
          <a href="#"><li>HTML</li></a>
          <a href="#"><li>CSS</li></a>
          <a href="#"><li>Javascript</li></a>
          <a href="#"><li>PHP</li></a>
        </ul>
      </div>

      <div class="footer-items">
        <h2>Võta ühendust</h2>
        <div class="border"></div>
        <ul>
          <li>
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>Tallinn,
            Estonia
          </li>
          <li>
            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>+372 5312
            3456
          </li>
          <li>
            <i class="fas fa-envelope" aria-hidden="true"></i
            >yourname@something.ee
          </li>
        </ul>
        <div class="social-media">
          <a href="facebook.com"
            ><i class="fab fa-facebook-f" aria-hidden="true"></i
          ></a>
          <a href="youtube.com"
            ><i class="fab fa-youtube" aria-hidden="true"></i
          ></a>
          <a href="github.com"
            ><i class="fab fa-github" aria-hidden="true"></i
          ></a>
          <a href="codepen.io"
            ><i class="fab fa-codepen" aria-hidden="true"></i
          ></a>
          <a href="google.com"
            ><i class="fab fa-google-plus" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- <div class="footer-bottom">
      Kõik õigused kaitstud Kalvarsaad.me &copy; 2020
    </div> -->
  </footer>

