<footer class="footer">
  <div class="inner-footer">
    <div class="footer-items">
      <a class="logo_container" routerLink="/home" routerLinkActive="router-link-active">
        <img id="image_logo_footer" src="../../../../assets/images/footer_logo.png" alt="Logo" title="Digital Harbor">
      </a>
    </div>

    <div class="footer-items">
      <h2 class="elementor_heading_title">Menu</h2>
      <div class="border"></div>
      <ul>
        <li><a routerLink="/home" routerLinkActive="router-link-active">Inicio</a></li>
        <li><a routerLink="/jobs">Conoce DH</a></li>
        <li><a routerLink="/contact">Conviertete en un DH</a></li>
        <li><a routerLink="/contact">Blog</a></li>
        <li><a routerLink="/contact">Haz contacto con DH</a></li>
        <!-- <li><a href="#">Kontakt</a></li> -->
      </ul>
    </div>

    <div class="footer-items">
      <h2>Tecnologias</h2>
      <div class="border"></div>
      <ul>
        <li><a>HTML</a></li>
        <li><a>CSS</a></li>
        <li><a>Javascript</a></li>
        <li><a>Java</a></li>
      </ul>
    </div>

    <div class="footer-items">
      <h2>Envía un mensaje a DH</h2>
      <div class="border"></div>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          <p class="footer_content">Cochabamba, bolivia</p>
        </li>
        <li>
          <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
          <p class="footer_content">+591 75911773</p>
        </li>
        <li>
          <i class="fas fa-envelope" aria-hidden="true"></i>
          <p class="footer_content">{{ contactEmail1}}</p>
        </li>
        <li>
          <i class="fas fa-envelope" aria-hidden="true"></i>
          <p class="footer_content">{{ contactEmail2 }}</p>
        </li>
      </ul>
      <div class="social-media">
        <a href="https://www.facebook.com/digitalharborBO" target="_blank">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/digitalharborbolivia/" target="_blank">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/digitalharborbolivia/" target="_blank">
          <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </a>
        <a href="https://t.me/digitalharborbolivia" target="_blank">
          <i class="fab fa-telegram-plane" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCR30LMHsZcHs1lFVjylUSEg" target="_blank">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="https://www.tiktok.com/@digitalharborbolivia?_t=8c4TxzrKXLS&_r=1" target="_blank">
          <i class="fab fa-tiktok" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    Copyright &copy; 2024 {{ myEmail }}, All Rights Reserved.
  </div>
</footer>
