
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">

<div class="slider">
<div class="slide slide1">
    <div class="caption">
    <h2>Slide 1</h2>
    <p>The Syrian refugee crisis has been described as the greatest humanitarian crisis in generation. Much of Syria’s infrastructure, economy, and national wealth has been entirely obliterated,2 and as many as half a million people have been killed.3 Over 11 million people have been forced from their homes, 4.7 million outside of the country altogether. It is with these people, refugees from Syria.</p>
    </div>
    </div>    
    <div class="slide slide2">
    <div class="caption">
    <h2>Slide 2</h2>
    <p>The Syrian refugee crisis has been described as the greatest humanitarian crisis in generation. Much of Syria’s infrastructure, economy, and national wealth has been entirely obliterated,2 and as many as half a million people have been killed.3 Over 11 million people have been forced from their homes, 4.7 million outside of the country altogether. It is with these people, refugees from Syria.</p>
    </div>
    </div>    
    <div class="slide slide3">
    <div class="caption">
    <h2>Slide 3</h2>
    <p>The Syrian refugee crisis has been described as the greatest humanitarian crisis in generation. Much of Syria’s infrastructure, economy, and national wealth has been entirely obliterated,2 and as many as half a million people have been killed.3 Over 11 million people have been forced from their homes, 4.7 million outside of the country altogether. It is with these people, refugees from Syria.</p>
    </div>
    </div>     
    <div class="slide slide4">
    <div class="caption">
    <h2>Slide 4</h2>
    <p>The Syrian refugee crisis has been described as the greatest humanitarian crisis in generation. Much of Syria’s infrastructure, economy, and national wealth has been entirely obliterated,2 and as many as half a million people have been killed.3 Over 11 million people have been forced from their homes, 4.7 million outside of the country altogether. It is with these people, refugees from Syria.</p>
    </div>
    </div>    
    <div class="slide slide1">
    <div class="caption">
    <h2>Slide 1</h2>
    <p>The Syrian refugee crisis has been described as the greatest humanitarian crisis in generation. Much of Syria’s infrastructure, economy, and national wealth has been entirely obliterated,2 and as many as half a million people have been killed.3 Over 11 million people have been forced from their homes, 4.7 million outside of the country altogether. It is with these people, refugees from Syria.</p>
    </div>
    </div>    
</div>
</div>
