<div class="main-container">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <app-home-slogan></app-home-slogan>
    <app-home-partial-about-us></app-home-partial-about-us>
    <app-home-partial-talent-program></app-home-partial-talent-program>
    <app-home-partial-careers></app-home-partial-careers>
    <app-home-testimonial></app-home-testimonial>
    <app-home-partial-news></app-home-partial-news>
    <button *ngIf="isButtonVisible" (click)="scrollToTop()" class="scroll-to-top">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
