<div class="wow-culture-container">

    <div class="star-container">
        <div class="wow-culture-title">
            <h2 class="elementor-heading-title">Cultura WOW</h2>
        </div>

        <div class="wow-culture-cotent">
            <p>La cultura WOW de DH se refiere a un ambiente de trabajo que es emocionante, motivador e inspirador para todos los colaboradores. Es una cultura que fomenta la creatividad, la innovación y el trabajo en equipo, y donde la colaboración y la comunicación son elementos fundamentales para el éxito.</p>
            <p>Todos son importantes y por eso se sienten valorados y motivados para contribuir al éxito de la empresa. Se alienta a los empleados a compartir ideas y a trabajar juntos para lograr los objetivos de la empresa, lo que puede conducir a una mayor innovación y un ambiente de trabajo más dinámico.</p>
            <p>Una cultura así puede ayudar a crear un ambiente de trabajo positivo, motivador e inspirador para todos, si lo tuyo es trabajar en un lugar donde te sientes a gusto, DH es tu lugar.</p>
        </div>
    </div>

</div>
