/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('/assets/images/PAGINA-WEB-Version-black-EDITABLE-2-1-scaled.jpg');
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* La imagen de fondo se mantiene fija durante el desplazamiento */
  background-position: center; /* Centra la imagen de fondo */
}
