/* You can add global styles to this file, and also import other style files */



html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Noir Pro', Roboto, "Helvetica Neue", sans-serif;
  background-image: url('/assets/images/testing_bg2.jpg');
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* La imagen de fondo se mantiene fija durante el desplazamiento */
  background-position: center; /* Centra la imagen de fondo */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* background star styles */
.star {
  background-color: #f0f0f0;
  width: 1.5px;
  height: 1.5px;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
  animation: glow 5s infinite ease-in-out;
}

@keyframes glow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 0.5;
  }
  35% {
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos para el contenedor */
.star-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Preloader estilos generales */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000; /* Fondo negro */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text-container {
  display: flex;
  font-size: 3rem; /* Tamaño del texto */
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

.letter {
  opacity: 0;
  animation: appear 0.5s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  color: hsl(calc(100 * var(--i)), 100%, 50%);
  text-shadow: 0 0 10px hsl(calc(100 * var(--i)), 100%, 50%), 0 0 20px hsl(calc(100 * var(--i)), 100%, 50%);
}

/* Animación para que las letras aparezcan una por una */
@keyframes appear {
  to {
    opacity: 1;
  }
}

/* Cambia el color de las letras para que parezca fluorescente */
.letter:nth-child(odd) {
  color: #39ff14; /* Verde fluorescente */
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.letter:nth-child(even) {
  color: #ff073a; /* Rojo fluorescente */
  text-shadow: 0 0 10px #ff073a, 0 0 20px #ff073a;
}

/* Spinner y texto Loading */
#spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Parte gris */
  border-left-color: #ffffff; /* Parte blanca */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Animación para el spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Texto de loading */
#loading-text {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards 2s; /* Aparece después de 2 segundos */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
