<section class="short-story">
    <div class="short-story__header">
        <h1 class="short-story__title">Sobre Nosotros</h1>
    </div>
    <div class="short-story__content">
        <div class="short-story__image">
            <div class="short-story__image-overlay">
                <img src="../../../../../assets/images/DH_team.jpg" alt="Descripción de la imagen">
            </div>
        </div>
        <div class="short-story__text">
            <h2 class="short-story__subtitle">Digital Harbor más de 25 años haciendo software para el mundo.</h2>
            <p class="short-story__description">Digital Harbor nació en 1997 en Estados Unidos como una compañía de aplicaciones compuestas; luego se expandió a India y Bolivia y formó un equipo de trabajo integrado por los tres países.</p>
            <h4 class="short-story__subtitle2">"Actualmente, Estados Unidos e India son los dos principales exportadores de software a nivel mundial."</h4>
            <p class="short-story__description">En 2003 se abre la filial en Bolivia, una elección que se debió al nivel profesional de los ingenieros y desarrolladores de software del país y el potencial que ofrece la gran cantidad y calidad de universidades bolivianas que forman profesionales en el área de tecnología. Bolivia es parte de Digital Harbor gracias a la reputación que se construyó.</p>
        </div>
    </div>
</section>
